
@media screen and (min-width: 320px) {
    .card-wrapper{
        max-width: 100%;
        padding: 5%;
        margin: 5%;
        margin: auto;
        text-align: center;
    }
    
    .question{
        max-width: 100%;
        border: 1px solid grey;
        background-color: whitesmoke;
        padding: 5%;
        text-align: center;
    }
    
    .card-input{
        width: 80%;
        margin: 5%;
        padding: 5%;
        text-align: center;
        font-size: 1.5rem;
    }
    
    .card-submit-button{
        padding: 2%;
        background-color: rgb(161, 122, 122);
        color: white;
        font-size: 1rem;
        border: none;
        padding: 10px;
        border-radius: 4%;
    }
    
    .card-question-form{
        padding: 0;
        font-size: 1rem;
    }
  } 
  
  @media (min-width: 600px) {
    .card-wrapper{
        max-width: 80%;
        padding: 1%;
        margin: 1%;
        margin: auto;
        text-align: center;
    }
    
    .question{
        max-width: 100%;
        border: 1px solid grey;
        background-color: whitesmoke;
        padding: 1%;
        text-align: center;
        font-size: 2rem;
    }
    
    .card-input{
        width: 80%;
        margin: 5%;
        padding: 5%;
        text-align: center;
        font-size: 1rem;
    }
    
    .card-submit-button{
        padding: 2%;
        background-color: rgb(161, 122, 122);
        color: white;
        font-size: 1rem;
        border: none;
        padding: 10px;
        border-radius: 4%;
    }
    
    .card-question-form{
        padding: 0;
        font-size: 1rem;
    }
  }
  
  @media (min-width: 960px) {
    .card-wrapper{
        max-width: 60%;
        padding: 1%;
        margin: 1%;
        margin: auto;
        text-align: center;
    }
    
    .question{
        margin: 0 auto;
        max-width: 80%;
        border: 1px solid grey;
        background-color: whitesmoke;
        padding: 1%;
        text-align: center;
        font-size: 2rem;
    }
    
    .card-input{
        width: 60%;
        margin: 5%;
        padding: 5%;
        text-align: center;
        font-size: 1rem;
    }
    
    .card-submit-button{
        padding: 2%;
        background-color: rgb(161, 122, 122);
        color: white;
        font-size: 1rem;
        border: none;
        padding: 10px;
        border-radius: 4%;
    }
    
    .card-question-form{
        padding: 0;
        font-size: 1rem;
    }
  }