.header-bar {
  align-items: center;
  background: url('../flag.jpg');
  background-size: 150px;
  background-repeat: no-repeat;
  height: 10vh;
  background-blend-mode: luminosity;
  color: rgb(0,96,173);
  text-align: center;
}

.logout-btn {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 0.8rem;
  color: rgb(0,96,173);
} 

.ombre-bar {
  padding: 2px;
  margin-bottom: 10px;
  background: -webkit-linear-gradient(right, #ffd006,white 50%,#0060ad 75%,#eb1c22 0);
  background: linear-gradient(270deg,#ffd006,white 50%,#0060ad 75%,#eb1c22 0);
}