.dashboard-username {
  text-align: center;
}

.login-wrapper {
  text-align: center;
}

.form-error {
  color: #f45845;
}

input:focus {
  border-left: none;
  border-right: none;
  border-color: rgb(0,96,173);
}

#username, #password, #name, #passwordConfirm {
  width: 40%;
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
}

.login-btn, .register-btn {
  background-color: rgb(0,96,173);
  color: white;
  font-size: 1rem;
  border: none;
  padding: 7px;
  border-radius: 4px;
  margin: 10px;
}

.login-btn:hover, .login-btn:focus, .register-btn:hover, .register-btn:focus {
  background-color: rgb(235,28,34);
}

.register-link, .login-link {
  display: inline-block;
  text-decoration: none;
  padding: 2%;
  background-color: rgb(0,96,173);
  color: white;
  font-size: 1rem;
  border: none;
  padding: 7px;
  border-radius: 4px;
  margin: 10px;
}

.register-link:hover, .register-link:focus, .login-link:hover, .login-link:focus {
  background-color: rgb(235,28,34)
}

.session-complete img {
  display: block;
  margin: 0 auto;
  width: 90%;
}