body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  text-align: center;
}
.dashboard-username {
  text-align: center;
}

.login-wrapper {
  text-align: center;
}

.form-error {
  color: #f45845;
}

input:focus {
  border-left: none;
  border-right: none;
  border-color: rgb(161, 122, 122);
}

.home {
  margin-top: 30px;
}

#username, #password, #name, #passwordConfirm {
  width: 40%;
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
}

.login-btn, .register-btn {
  background-color: rgb(161, 122, 122);
  color: white;
  font-size: 1rem;
  border: none;
  padding: 7px;
  border-radius: 4px;
  margin: 10px;
}

.login-btn:hover, .register-btn:hover {
  background-color: rgb(126, 91, 91);
}

.register-link, .login-link {
  display: inline-block;
  text-decoration: none;
  padding: 2%;
  background-color: rgb(161, 122, 122);
  color: white;
  font-size: 1rem;
  border: none;
  padding: 7px;
  border-radius: 4px;
  margin: 10px;
}

.register-link:hover, .login-link:hover {
  background-color: rgb(126, 91, 91);
}

.session-complete img {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.reset {
  background-color: rgb(161, 122, 122);
  color: white;
  font-size: 16px;
  border: none;
  padding: 7px;
  border-radius: 4px;
  margin: 10px;
}