.login-wrapper h2, .home h2 {
  font-size: 24px;
  margin: 10px auto;
}

.learn-more-btn {
  padding: 10px;
  margin: 0 auto;
}

.image {
  align-items: center;
  background: url('../flag.jpg');
  background-size: 150px;
  background-repeat: no-repeat;
  height: 10vh;
  background-blend-mode: luminosity;
  color: black;
  text-align: center;
}

.image h1 {
  font-size: 32px;
  position: relative;
  top: 20%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  vertical-align: center;
}

.ombre-bar {
  padding: 2px;
  margin-bottom: 10px;
  background: -webkit-linear-gradient(right, #eb1c22,#0060ad 50%,#ffd006 75%,#ffd006 0);
  background: linear-gradient(270deg, #eb1c22, #0060ad 50%, #ffd006 75%,#ffd006 0);
}

.info-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(27, 26, 38, 0.9);
  z-index: 9999;
}

.info-contents {
  color: whitesmoke;
}

.info-btn {
  position: relative;
  font-size: 16px;
}

@media screen and (min-width: 500px) {
  .info-btn {
    position: absolute;
    top: 20px;
    right: 15px;
  }
}