.learn-more-btn {
  padding: 10px;
  margin: 0 auto;
}

.image {
  align-items: center;
  background: url('../flag.jpg');
  background-size: 50%;
  background-repeat: no-repeat;
  width: 100%; 
  background-blend-mode: luminosity;
  color: rgb(245, 230, 230);
  text-align: center;
}

.image h1 {
  font-size: 32px;
  position: relative;
  top: 8%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  vertical-align: center;
}